<h3><i class="fa fa-book-reader"></i> StoryBooks</h3>
<div class="section">
    <p class="lead">Crea historias públicas y privadas sobre tu vida!</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Ingresar con Google
    </a>
</div>